<!DOCTYPE html>
<html>
    <head>
    <title>Sign In</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.css">
    <style>
        .form {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            width: 100vw;
        }
        .field{
            border-color: black !important;
            margin-top: 2px !important;
        }
        button {
            margin-top: 2px !important;
        }
    </style>
    </head>
    <body>
        <div class="ui form">
            <div class="fields">
            <form method="POST">
                <input class="field" name="email" placeholder="email" />
                <input class="field" type="password" class='ui form' name="password" placeholder="password" />
                <button class="ui positive basic button">Sign In</button>
            </form>
            </div>
        </div>
    </body>
    </html>